<!DOCTYPE html>
<html>
<head>
  <title>Ia taln</title>
  <%= stylesheet_link_tag    "ai/nlp/application", media: "all" %>
  <%= javascript_include_tag "ai/nlp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
